{% extends "base.html" %} {% block title %} Home {% endblock %}

{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me - My Portfolio</title>
    
</head>
<body>
    <!---
    <header style="background-color: #1B1B1B;">
        <h1>About Me</h1>
        
    </header>-->
    <br>
    <h1 style="text-align: center;">About Me</h1>

    
        
        <img class="profile-image" src="/static/profilephoto.jpg" alt="Profile photo">
        
        <h2>Who Am I?</h2>
        <p>
            I am an upcoming 3rd year computer science student at the University of California: Irvine. I have a strong interest in software development 
            and my goal is to become a software engineer.
        </p>

        <h2>My Background</h2>
        <p>
            I graduated from [Your University/School] with a degree in [Your Degree] and have been working in the field of [Your Field] for [Number of Years] years.
            During my career, I've had the opportunity to work on exciting projects, including [Highlight Some Projects].
        </p>

        <h2>Why Choose Me?</h2>
        <p>
            I am dedicated to [Your Values/Ethics] and always strive to deliver high-quality results. I am passionate about [What Sets You Apart] and am constantly seeking opportunities for growth and learning.
            If you're looking for a [Your Profession/Title] who is [Your Strong Qualities], I would be thrilled to collaborate with you.
        </p>
    
</body>
</html>
{% endblock %}