{% extends "base.html" %} {% block title %} About {% endblock %}

{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me - My Portfolio</title>
    
</head>
<body>
    <!---
    <header style="background-color: #1B1B1B;">
        <h1>About Me</h1>
        
    </header>-->
    <br>
    <!--<h1 style="text-align: center;">About Me</h1>-->

    
        
        <img class="profile-image" src="/static/profilephoto.jpg" alt="Profile photo">
        
        <h2>About Me</h2>
        <p>
            I am a 3rd year computer science student at the University of California, Irvine. I have a strong interest in software development 
            and my goal is to become a software engineer.
        </p>

        <h2>My Background</h2>
        <p>
            I have experience programming in Java, Python and C++, and I am familiar with web development, APIs, and databases. I also have experience working in a technical and professional environment, which I gained from my Information Technology and Energy internships at Canyons School District.
        </p>

        <h2>Why Choose Me?</h2>
        <p>
            I am passionate about software development and am constantly seeking opportunities for growth and learning. I strive to gain a deeper understanding of programming and I am looking to gain essential industry experience through an internship this coming summer.
            If you're looking for a good communicator and someone who is thrilled to learn, please feel free to contact me.
        </p>
    
</body>
</html>
{% endblock %}