{% extends "base.html" %} {% block title %} Contact {% endblock %}

{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me</title>
    
</head>
<body>
    <!---
    <header style="background-color: #1B1B1B;">
        <h1>About Me</h1>
        
    </header>-->
    <br>
    <!--<h1 style="text-align: center;">About Me</h1>-->

    
    
        
        <h2>Contact Me</h2>
        <p>
            <ul>
                <li>
                    <h4>
                    <a href = "mailto: michaelyangxiong@gmail.com">michaelyangxiong@gmail.com</a></h4>
                </li>
            </ul>
        </p>

        <h2>Social</h2>
        <p>
            <ul>
                <li>
                    <h4>
                        <a href = "https://github.com/MiBearX">Github</a>

                    </h4>
                </li>
                <li>
                    <h4>
                        <a href = "https://www.linkedin.com/in/michael-xiong-740461230/">Linkedin</a>

                    </h4>
                </li>
                <li>
                    <h4>
                        <a href = "http://18.117.234.198:8080/Fabflix">Website</a>
                    </h4>
                </li>
            </ul>
            
        </p>

    
</body>
</html>
{% endblock %}