{% extends "base.html" %} {% block title %} Stats {% endblock %}

{% block content %}

<br>
<form method="POST">
    <h3 align="center">Enter an NBA Player Name:</h3>
    <div class="form-group">
        <!--<label for="playername">Player Name</label>-->
        <!--<input type="playername" class="form-control" id="playername" name="playername" placeholder="Enter Playername">-->
        
        <input type="playername" id="playername" name="playername" class="form-control" placeholder="Ex: Donovan Mitchell"/>
        
          
    </div>
    <button type="submit" class="btn btn-primary">Get Stats!</button>
</form>
{% endblock %}