{% extends "base.html" %} {% block title %} Contact {% endblock %}

{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    
</head>
<body>
    <br>


    
    
        
        <h2>Projects</h2>
        <p>
            <ul>
                <li>
                    <h4>Prompt Engineering Research</h4>
                    <a href="static/promptEngineeringPoster.pdf" target="_blank">
                        <button style="padding: 10px 20px; background-color: #007bff; color: white; border: none; border-radius: 5px; cursor: pointer;">
                        View PDF
                        </button>
                    </a>
                </li>
                <li>
                    <h4>Counter Strike Skin API</h4>
                    <a href="https://michaelxiong.net/weapons" style="text-decoration: none;">
                        <button style="padding: 10px 20px; background-color: #007bff; color: white; border: none; border-radius: 5px; cursor: pointer;">
                        API URL
                        </button>
                    </a>
                    <!-- Rifles API Button -->
                    <a href="https://michaelxiong.net/weapons/Rifle" style="text-decoration: none;">
                        <button style="padding: 10px 20px; background-color: #28a745; color: white; border: none; border-radius: 5px; cursor: pointer; margin-right: 5px;">
                            Rifles
                        </button>
                    </a>
                    <!-- Pistols API Button -->
                    <a href="https://michaelxiong.net/weapons/Pistol" style="text-decoration: none;">
                        <button style="padding: 10px 20px; background-color: #ffc107; color: white; border: none; border-radius: 5px; cursor: pointer; margin-right: 5px;">
                            Pistols
                        </button>
                    </a>
                    <!-- SMGs API Button -->
                    <a href="https://michaelxiong.net/weapons/SMG" style="text-decoration: none;">
                        <button style="padding: 10px 20px; background-color: #17a2b8; color: white; border: none; border-radius: 5px; cursor: pointer;">
                            SMGs
                        </button>
                    </a>
                    <a href="https://michaelxiong.net/weapons/knife" style="text-decoration: none;">
                        <button style="padding: 10px 20px; background-color: #cc0066; color: white; border: none; border-radius: 5px; cursor: pointer;">
                            Knives
                        </button>
                    </a>
                </li>
            </ul>
        </p>


    
</body>
</html>
{% endblock %}