{% extends "base.html" %} {% block title %} TESTTESTTEST {% endblock %}

{% block content %}
<br>
<form method="POST">
    <h3 align="center">Enter an NBA Player Name</h3>
    <div class="form-group">
        <label for="playername">Player Name</label>
        <input type="playername" class="form-control" id="playername" name="playername" placeholder="Enter Playername">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>

    <!-- Don't know if this will work -->
    <body>
    <h1 align="center">{{ name }}:</h1>
    <ul>
    {% for key, value in stats.items() %}
        <!--<h5 align="center">{{ key }}: {{value}}</h5>-->
        {% set full_stat_name = stat_map.get(key, key) %}
        <h5 align="center">{{ full_stat_name }}: {{value}}</h5>

        <!--<li align="center">{{ key }}: {{value}}</li>-->
    {% endfor %}
    </ul>
    </body>



</form>
{% endblock %}