{% extends "base.html" %} {% block title %} TESTTESTTEST {% endblock %}

{% block content %}
<br>
<form method="POST">
    <h3 align="center">Enter an NBA Player Name:</h3>
    <div class="form-group">
        <input type="playername" id="playername" name="playername" class="form-control" placeholder="Ex: Donovan Mitchell"/>
    </div>
    <button type="submit" class="btn btn-primary">Get Stats!</button>
    <br>
    <br>

    <body>
    <h1 align="center">{{ name }}</h1>
    <ul>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Stat</th>
                <th scope="col">Value</th>
              </tr>
            </thead>
            <tbody>
                {% for key, value in stats.items() %}
        
                {% set full_stat_name = stat_map.get(key, key) %}
              <tr>
                
                <td>{{full_stat_name}}</td>
                <td>{{value}}</td>
                
              </tr>
              {% endfor %}
            </tbody>
          </table>
    
    </ul>
    </body>



</form>
{% endblock %}